@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #f8fafc;
  --cflatblue: #012f85;
  --cflatyellow: #fab802;
  scrollbar-color: #1e293b #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply w-full scroll-m-20 border-amber-300 bg-gradient-to-r from-cflatyellow to-amber-300 bg-clip-text pb-3 ps-6 text-start text-3xl font-semibold tracking-tight text-transparent first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  ::selection {
    @apply bg-cflatyellow text-background;
  }
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-cflatyellow {
  scrollbar-color: var(--cflatyellow) var(--background);
}
.scrollbar-thumb-zinc {
  scrollbar-color: #a1a1aa #09090b;
}
